<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Tutor</h2>
                    <h3 class="section-heading">김지혜</h3>
                    <hr>
                </div>
                <!--  -->
                <h4 class="text-center">[경력]</h4>
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12
                col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-sm-offset-4"> -->
                <div class="col-lg-4 col-md-6 col-xs-8 col-md-offset-4 col-xs-offset-2 col-lg-offset-4">
                    <dl>
                        <dd>이화여대 작곡과 졸업</dd>
                        <dd>연세대 사회교육원 특기적성 지도자과정 강사<br></dd>
                    
                        <dd>현) 도약닷컴 'CCM반주법' 동영상 강의 진행중</dd>
                        <dd>저서 : 12주 완성 SMILE CCM 반주법 초급, 중급, 고급</dd>
                        <dd>레슨 경력 15년 이상</dd>
                        <dd>프리랜서 피아노 조율사</dd>
                        <dd>모바일 회사 음원 제작 4년</dd>
                        <dd>-> 컬러링, 베이비 "베베퀸" 제작</dd>
                        <dd>-> 다수의 편곡 및 사보, 미디 작업</dd>
                        <dd></dd>
                        <dd>피아노 연주곡 작곡가</dd>
                        <dd>-> 다수의 디지털 뉴에이지 앨범 발매</dd>
                        <dd>-> "Soon Soo", "슈가핀", "온새미로"</dd>
                        <dd>오케스트라 지도 및 편곡 담당</dd>
                        <dd>키리키 영어놀이터 음악 담당</dd>
                        <dd>퍼스트 어드벤쳐 영어유아피아노 전문강사</dd>
                        <dd>피아노 어드벤쳐 전문강사</dd>
                        <dd>피아노 어드벤쳐 우수교사 인증</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
