<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">리모트 피아노 레슨</h2>
                    <h3 class="section-subheading text-muted">스카이프를 통한 실시간 원격 피아노 레슨!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Active</h4>
                    <p class="text-muted">수동적 동영상 강의가 아닌, 선생님의 즉각적인 피드백과 지도를 받을 수 있습니다. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Freedom</h4>
                    <p class="text-muted">공간의 제약없이, 학원을 찾아 다닐필요없이, 집청소도 필요없이, 쉽게 레슨을 받을 수 있습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customized</h4>
                    <p class="text-muted">학생의 요구에 맞게 만들어진 레슨을 통해 나만의 공간에서, 나만의 레슨을 받아보세요!</p>
                </div>
            </div>
        </div>
    </section>
